.caixa {
  width: 200px;
  height: 100px;
  background-color: lightgray;
  margin-bottom: 20px;
}

.static {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  position: static;
  background-color: lightblue;
}

.relativa {
  position: relative;
  margin-bottom: 20px;
  background-color: lightgreen;
  top: 20px;
  left: 200px;
  width: 200px;
  height: 100px;
}

.pai {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #ddd;
}

.absolute {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px;
  height: 800px;
  background-color: orange;
}

.fixed {
  position: fixed;
  top: 30px;
  right: 30px;
  background-color: red;
  color: aliceblue;
  padding: 10px;
}
.conteudo {
  height: 100vh;
  padding: 20px;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: yellow;
}
