@import 'tailwindcss';

@theme {
  /* apagando cores iniciais */
  /* --color-*: initial;
  --color-lime-*: initial; */

  /* add novos padrões */
  --color-origamid-100: #a8f;
  --color-origamid-900: #190058ff;

  /* substituir padrões de cores do Tailwind já existentes por novos (lime)*/
  --color-verde-200: #acef75;
  --color-verde-300: #91ee77;
  --color-verde-900: #16281f;
  --color-verde-950: #0f1c15;

  /* subtituindo um padrão por outro */
  /* --color-lime-300: var(--color-cyan-600); */

  /* --spacing: 8px; */
}

/* conjunto de estilos reaproveitáveis*/
@layer components {
  .btn {
    @apply bg-lime-200 border-2 border-lime-400 text-lime-900 py-2 px-4 rounded-full hover:bg-lime-400 hover:text-lime-950;
  }
}
