body {
margin-top: 0px;
}

h1 {
  font-family: Montserrat;
  font-weight: bolder;
}

.post-container {
  width: 70%;
  height: 100%;
  margin: 0px auto;
  background-color: #fffafa;
}

.date {
  color: #008080;
  font-family: Roboto;
  font-weight: bold;
}

.post {
  margin-left: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
}

.post-content {
  width: 90%;
  font-family: "Open Sans";
  font-size: 1.0625em;
}

