@use 'variables.scss';

.contato-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  img {
    max-width: 100%; // imagem reativa
    border-radius: 10px;
  }

  .contato-ul-container {
    list-style: none;
    margin-top: 1rem;

    li {
      font-size: variables.$font-size;
      margin-bottom: 0.3rem;

      &::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 3px;
        background-color: #bcbcbc;
        margin-right: 15px;
      }
    }
  }
}
