$font: 'Open Sans', sans-serif;
$font-size: 1.2rem;
$font-title: Georgia, 'Times New Roman', Times, serif;
$font-title-size: 2.2rem;
$color: #19f;
$color-light: #adf;
$color-dark: #018;
$radius: 0.3rem;
$radius-img: 0.5rem;

$background-primario: #333;
$background-secundario: #eee;
