* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

nav.nav {
  display: flex;
  flex-direction: row;
}

/* ul {
  /* justify-content: space-evenly; */
/* } */

/* ul .logotipo {
  align-self: flex-start;
} */
/* a {
} */
