body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  background-color: #ebebeb;
  color: #0b0b0b;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.superinfo-container {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
  background-color: hsl(181, 100%, 22%);
  color: #ebebeb;
  font-weight: bold;
}

.superinfo-itens {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  flex-wrap: wrap;
}

.superinfo-itens a {
  color: #ebebeb;
}

.superinfo-itens a:hover {
  color: hsla(181, 100%, 49%, 0.475);
}

.menu-container {
  background-color: hsla(181, 99%, 30%, 0.78);
  color: #ebebeb;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.menu-itens {
  display: flex;
}
